{% extends "base.html" %}
{% block title %}Hangout Scheduler | Setup {% endblock %}
{% block head %}
{% endblock %}

{% block middle %}

<h2>Hangout Setup Instructions</h2>

<ul>
  <li><strong>Quiet location.</strong> – Cut down as much background noise as possible.</li>
  <li><strong>Turn off and silence all phones.</strong> – Just like going to the movies.</li>
  <li><strong>This is a video chat, install a video camera.</strong> – HD is preferred.</li>
  <li><strong>Please use headphones to cut down feedback.</strong> – If you don’t use headphones the other guests will hear themselves through your speakers.</li>
  <li><strong>Use a external mic if possible</strong>, even a iPhone headset works fine… as both the mic and headphones.</li>
  <li><strong>You need to be using either a laptop or desktop.</strong> – Broadcasting from iPad or a smartphone will not work.</li>
  <li><strong>Good front lighting.</strong> – You don’t want a shadow on your face.</li>
  <li><strong>Ideal connection is a Ethernet cable rather than wifi.</strong> Otherwise the fastest wifi connection possible. – Better connection, better video quality.</li>
  <li><strong>Small movements on camera.</strong> – Don’t make fast, jittery movements.</li>
  <li><strong>You will be on camera so please dress appropriately.</strong></li>
  <li><strong>Think about your background.</strong> – A blank white wall behind you is boring.</li>
  <li><strong>Arrive early.</strong> – Everyone involved with the Hangout should arrive early so you can make sure everything is setup and working properly and discuss the flow of the Hangout.</li>
</ul>

{% endblock %}
